
/* Carousel */
.carousel-inner{
    left: 400px;
}

@media screen and (max-width: 1024px) {
    .carousel-inner{
        left: 0px;
    }
    
}

/*head*/
.fa-solid{
    display:flex;
    color:  rgb(0, 162, 255);
    
}




/* MAIN  */
.text-promotion{
    width: 100%;
    text-align:center;
    color: rgb(0, 162, 255);
    text-shadow:rgb(0, 162, 255) 0px 0px 5px;
    margin-top: 10px;
    font-size: 40px;
}

.promoções{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content:center;
    :hover{
        animation: forwards 0.5s;
        transform: scale(1.0);
    }
    
}

.figure{
    width: 250px;
    height: auto;
    background-color:rgb(0, 162, 255);
    border-radius: 30px;
    align-items: center;
    padding: 35px;
    margin: 20px;
    border:solid rgb(71, 188, 255);
    box-shadow: 0 0 15px 0 rgb(0, 97, 136);

}



